<div class="dialog">
  <div class="form-header">
    <div class="header-text" appMatDialogDraggableTitle>{{title}}</div>
    <app-icon-button iconClass="close" color="transparent" (clicked)="closeDialog()"></app-icon-button>
  </div>
  <div class="form-content">
    <div class="image"><i class="material-icons">help</i></div>
    <div class="message">{{text}}</div>
  </div>
    <div class="form-footer">
      <app-text-button color="blue" type="button" text="{{okText}}" (clicked)="confirm()"></app-text-button>
      <app-text-button color="blue" type="button" text="{{cancelText}}" (click)="closeDialog()"></app-text-button>
    </div>
</div>
