@import "../../../../assets/styles/dialog";
@import "../../../../assets/styles/colors";

:host {
  .dialog .form-content {
    padding: 0;
    display: flex;
    align-items: center;
    .image i {
      color: $light_grey;
    }
  }

  .form-footer {
    display: flex;
    width: calc(100% - 1px); // 1px for border
    justify-content: center;
  }

  .message { font-weight: 800 }
}
