
<form [formGroup]="form">
    <div class="form-content">
        <div class="group" formGroupName={{questions_map.question.id}} *ngFor="let questions_map of this.group.group_questions_map">
            <div class="full_width" [ngSwitch]="questions_map['question'].type">
                <app-multi-choices-single-option *ngSwitchCase="QuestionType.MULTIPLE_CHOISE_SINGLE_OPTION"
                                                 [questionText]="questions_map['question'].title"
                                                 [help]="questions_map['question'].help"
                                                 [notTooltip]="true"
                                                 [moreInfo]="questions_map['question'].more_info"
                                                 [isMandatory]="questions_map['question'].is_mandatory"
                                                 [options]="questions_map['question'].question_answer_options"
                                                 [labelText]="questions_map['question'].is_comment_label ? questions_map['question'].comment_label : ''"
                                                 [withComment]="questions_map['question'].is_commented"
                                                 [commentRows]="questions_map['question'].comment_row"
                                                 [align]="questions_map['question'].is_vertical_alig"
                                                 [control]="getControl(questions_map['question'].id)"
                                                 [validationErrors]="showValidation ? getControl(questions_map['question'].id).errors : null"
                                                 [commentControl]="getControl(questions_map['question'].id + '_comment')"
                                                 [id]="questions_map['question'].id"
                                                 >
                </app-multi-choices-single-option>
                <app-multi-choices-multi-options *ngSwitchCase="QuestionType.MULTIPLE_CHOISE_MULTI_OPTIONS"
                                                 [questionText]="questions_map['question'].title"
                                                 [help]="questions_map['question'].help"
                                                 [notTooltip]="true"
                                                 [moreInfo]="questions_map['question'].more_info"
                                                 [isMandatory]="questions_map['question'].is_mandatory"
                                                 [options]="questions_map['question'].question_answer_options"
                                                 [labelText]="questions_map['question'].is_comment_label ? questions_map['question'].comment_label : ''"
                                                 [withComment]="questions_map['question'].is_commented"
                                                 [commentRows]="questions_map['question'].comment_row"
                                                 [align]="questions_map['question'].is_vertical_alig"
                                                 [control]="getControl(questions_map['question'].id)"
                                                 [min_selected]="questions_map['question'].min_selected_options"
                                                 [max_selected]="questions_map['question'].max_selected_options"
                                                 [validationErrors]="showValidation ? getControl(questions_map['question'].id).errors : null"
                                                 [commentControl]="getControl(questions_map['question'].id + '_comment')"
                                                 [id]="questions_map['question'].id"
                >
                </app-multi-choices-multi-options>
                <app-array-answer-input *ngSwitchCase="QuestionType.ARRAY"
                                        [questionText]="questions_map['question'].title"
                                        [help]="questions_map['question'].help"
                                        [notTooltip]="true"
                                        [moreInfo]="questions_map['question'].more_info"
                                        [isMandatory]="questions_map['question'].is_mandatory"
                                        [labelText]="questions_map['question'].is_comment_label ? questions_map['question'].comment_label : ''"
                                        [withComment]="questions_map['question'].is_commented"
                                        [commentRows]="questions_map['question'].comment_row"
                                        [options]="questions_map['question'].question_answer_options"
                                        [labelSetOptions]="questions_map['question'].label_set.label_set_options"
                                        [control]="getControl(questions_map['question'].id)"
                                        [validationErrors]="showValidation ? getControl(questions_map['question'].id).errors : null"
                                        [commentControl]="getControl(questions_map['question'].id + '_comment')"
                                        [id]="questions_map['question'].id"
                >
                </app-array-answer-input>
                <app-text-answer-input *ngSwitchCase="QuestionType.TEXT"
                                       [questionText]="questions_map['question'].title"
                                       [help]="questions_map['question'].help"
                                       [notTooltip]="true"
                                       [moreInfo]="questions_map['question'].more_info"
                                       [isMandatory]="questions_map['question'].is_mandatory"
                                       [labelText]="questions_map['question'].is_comment_label ? questions_map['question'].comment_label : ''"
                                       [commentRows]="questions_map['question'].comment_row"
                                       [control]="getControl(questions_map['question'].id)"
                                       [validationErrors]="showValidation ? getControl(questions_map['question'].id).errors : null"
                                       [id]="questions_map['question'].id"
                ></app-text-answer-input>
                <app-numeric-answer-input *ngSwitchCase="QuestionType.NUMERIC"
                                          [questionText]="questions_map['question'].title"
                                          [help]="questions_map['question'].help"
                                          [notTooltip]="true"
                                          [moreInfo]="questions_map['question'].more_info"
                                          [isMandatory]="questions_map['question'].is_mandatory"
                                          [labelText]="questions_map['question'].is_comment_label ? questions_map['question'].comment_label : ''"
                                          [withComment]="questions_map['question'].is_commented"
                                          [commentRows]="questions_map['question'].comment_row"
                                          [control]="getControl(questions_map['question'].id)"
                                          [validationErrors]="showValidation ? getControl(questions_map['question'].id).errors : null"
                                          [commentControl]="getControl(questions_map['question'].id + '_comment')"
                                          [id]="questions_map['question'].id"
                                          [currencyFormat]="true"
                ></app-numeric-answer-input>
                <app-slider-answer-input *ngSwitchCase="QuestionType.SLIDER"
                                         [questionText]="questions_map['question'].title"
                                         [help]="questions_map['question'].help"
                                         [notTooltip]="true"
                                         [moreInfo]="questions_map['question'].more_info"
                                         [isMandatory]="questions_map['question'].is_mandatory"
                                         [rangeFromValue]="questions_map['question'].range_from_value"
                                         [rangeToValue]="questions_map['question'].range_to_value"
                                         [rangeInterval]="questions_map['question'].range_interval"
                                         [sliderMode]="questions_map['question'].slider_mode"
                                         [rangeFromTag]="questions_map['question'].range_from_tag"
                                         [rangeToTag]="questions_map['question'].range_to_tag"
                                         [displayValuesTooltips]="questions_map['question'].show_tooltips"
                                         [displayValuesPercentage]="questions_map['question'].range_percentages"
                                         [sliderTags]="questions_map['question'].sliderTags "
                                         [displayLabels]="questions_map['question'].show_labels"
                                         [withComment]="questions_map['question'].is_commented"
                                         [commentRows]="questions_map['question'].comment_row ? questions_map['question'].comment_row : ''"
                                         [control]="getControl(questions_map['question'].id)"
                                         [validationErrors]="showValidation ? getControl(questions_map['question'].id).errors : null"
                                         [labelText]="questions_map['question'].is_comment_label ? questions_map['question'].comment_label : ''"
                                         [commentControl]="getControl(questions_map['question'].id + '_comment')"
                                         [id]="questions_map['question'].id"
                ></app-slider-answer-input>
                <app-order-answer *ngSwitchCase="QuestionType.ORDER"
                                  [help]="questions_map['question'].help"
                                  [notTooltip]="true"
                                  [moreInfo]="questions_map['question'].more_info"
                                  [isMandatory]="questions_map['question'].is_mandatory"
                                  [questionText]="questions_map['question'].title"
                                  [options]="questions_map['question'].question_answer_options"
                                  [control]="getControl(questions_map['question'].id)"
                                  [validationErrors]="showValidation ? getControl(questions_map['question'].id).errors : null"
                                  [withComment]="questions_map['question'].is_commented"
                                  [labelText]="questions_map['question'].is_comment_label ? questions_map['question'].comment_label : ''"
                                  [commentControl]="getControl(questions_map['question'].id + '_comment')"
                                  [id]="questions_map['question'].id"
                ></app-order-answer>
              </div>
      </div>
    </div>
  </form>
