@import "~assets/styles/user-page";

:host {
  width: 100%;
  app-form-input {
    margin-right: 5px;
  }
  /deep/ .label-block {
    font-weight: 600;
  }
  .enter-content {
    display: flex;
    align-items: center;
    margin-top: 5px;
  }
}
