@import "~assets/styles/theme";
@import "~assets/styles/colors";
@import "~assets/styles/variables";

:host {

  height: 100%;

  ag-grid-angular { height: 100% }
  /deep/ .ag-theme-balham .ag-pinned-left-header { z-index: 1; background-color: #f5f7f7; }
  /deep/ .ag-theme-balham .ag-cell.overflow_unset { overflow: unset; }
  /deep/ .ag-theme-balham .ag-header-viewport { overflow: unset; }
  /deep/ .ag-theme-balham .ag-row-even {
    &:hover { z-index: 1 }
  }
  /deep/ .ag-theme-balham .ag-row-odd {
    &:hover { z-index: 1 }
  }

  #search-input {
    background-color: white;
    border-radius: 4px;
  }

  /deep/ .ag-theme-balham .ag-ltr .ag-cell:not(.ag-cell-focus).ag-cell-last-left-pinned {
    padding: 0 !important;
    text-align: center;
  }
}
/deep/ .ng-dropdown-panel.ng-select-bottom { width: auto !important }

