<div class="password-strength-block border-color-{{estimation.score}}">
  <div class="header background-color-{{estimation.score}}">
    {{ estimation.feedback.warning }}
  </div>
  <div class="content">
    <div class="graphic-strength">
      <div class="graphic-score" *ngFor="let element of [1,2,3,4]">
        <div [ngClass]="element <= estimation.score ? 'background-color-' + estimation.score : ''"></div>
      </div>
    </div>
    <div class="strength-text text-color-{{estimation.score}}">{{ strengthText[estimation.score] }}</div>
    <div>
      <strong>Hack Time:</strong> {{ estimation.crack_times_display.online_throttling_100_per_hour }}
    </div>
    <div *ngIf="estimation.feedback.suggestions.length > 0">
      <strong>Suggestion:</strong>
      <ul>
        <li *ngFor="let suggestion of estimation.feedback.suggestions">{{ suggestion }}</li>
      </ul>
    </div>
  </div>
</div>
