:host{
  z-index: 1000;
  margin: 10px 0;
  min-width: 300px;
}

.password-strength-block {
  background: #fafafa !important;
  display: block;
  box-shadow: 1px 1px 1px #aaaaaa;
  font-size: 12px;
  color: black;

  &:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #e22e2e;
    position: absolute;
    top: -5px;
    left: 10px;
  }

  &.border-color-0:before, &.border-color-1:before {
    border-bottom: 5px solid #e22e2e !important;
  }

  &.border-color-2:before, &.border-color-3:before {
    border-bottom: 5px solid #ff7900 !important;
  }

  &.border-color-4:before {
    border-bottom: 5px solid green !important;
  }

  .header {
    width: 100%;
    height: 30px;
    padding: 9px;
    border-radius: 3px;
    color: white;
  }

  .content {
    padding: 10px;

    div {
      margin-bottom: 5px;
    }
  }

  .background-color-0, .background-color-1 {
    background-color: #e22e2e !important;
  }

  .background-color-2, .background-color-3 {
    background-color: #ff7900 !important;
  }

  .background-color-4 {
    background-color: green !important;
  }

  .strength-text {
    width: 100%;
    text-align: right;
    padding-right: 8px;
  }

  .text-color-0, .text-color-1 {
    color: #e22e2e;
  }

  .text-color-2, .text-color-3 {
    color: #ff7900;
  }

  .text-color-4 {
    color: green;
  }

  .graphic-strength {
    width: 100%;
    height: 7px;
    margin-left: -5px;
    margin-right: -5px;

    .graphic-score {
      width: 25%;
      height: 7px;
      padding-left: 3px;
      padding-right: 3px;
      float: left;

      div {
        width: 100%;
        height: 7px;
        background-color: #c7c7c7;
      }
    }
  }
}
