<div class="passwordWithEye">
  <input
    attr.data-tooltip="{{errorMessage}}"
    attr.data-tooltip-position="{{tooltipPosition}}"
    attr.data-tooltip-class="{{'error-tooltip'}}"
    class="input"
    [ngClass]="{'with-error': errorMessage}"
    [type]="type"
    [formControl]="control"
    #inputElement
    (focus)="focusOn()"
    (focusout)="focusOut()"
    matInput>
  <app-icon-button (click)="passwordToogle(inputElement)"
                   class='eye' [iconClass]="eye_icon">
  </app-icon-button>
</div>

<app-strength-password
  *ngIf="showStrengthPass"
  [password]="control.value"
  #passwordHintComponent>
</app-strength-password>
