.passwordWithEye {display: flex;}
.eye{
  /deep/ button.grey{background: none;}
  margin-left: -2.3em;
  margin-top: -0.15em;

  /deep/ .visibility_off {
    opacity: 0.5;
  }
}
:host{
  display: block;
}
