$grey: #797979;
$light_grey: #999;
$black: rgba(0, 0, 0, 0.87);
$hover: #0288d11a;
$disabled-bg: #f9f9f9;
$selected: #b7e4ff;
$alternate_row_background_color: #fafafa;

$headerBlue: #0288d1;
$blue: #1e4e8f;
$blueExport: #000080;
$warning_red: #f27530;
$error_red: #f44336;

$userBlue: #2C2971;
$userLightgrey: #ccc;

$faceGreen: #03c504;
$faceYellow: #f9ce01;
$faceRed: #e90004;
$faceNone: #e7eaed;
