@import "../../../../assets/styles/dialog";

@import "../../../../assets/styles/dialog";
@import "../../../../assets/styles/colors";

:host {

  .dialog .form-content {
    padding: 20px;
  }

  .form-footer {
    display: flex;
    justify-content: flex-end;
  }
}

