<div class="dialog">
    <div class="form-header">
      <div class="header-text" appMatDialogDraggableTitle>Remove Participant Attempt</div>
      <app-icon-button iconClass="close" color="transparent" (clicked)="closeDialog()"></app-icon-button>
    </div>
    <form [formGroup]="form" (ngSubmit)="save()">
      <div class="form-content">
        <app-form-input label="Select the attempt to remove:" labelWidth="220px">
          <app-select-input  [options]="attempts" valueField='id' textField='value'
            [control]="getControl('attempt')" [searchOn]="false"  input-transclude-slot>
          </app-select-input>
        </app-form-input>
      </div>
      <div class="form-footer">
        <app-text-button color="blue" [disabled]="!form.valid" type="button" text="Remove"
                         (clicked)="save()"></app-text-button>
        <app-text-button color="blue" type="submit" text="Close" (click)="closeDialog()"></app-text-button>
      </div>
    </form>
  </div>
